target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

log/
/.idea
Homestead.json
Homestead.yaml
.tags*
*node_modules
storage
.DS_Store
/nbproject
/src/main/java/META-INF
/target